@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

*{
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App{
    display: flex;
    flex-direction: column;
    background-color:rgb(32, 32, 124);
    height: 100vh;
}

.App header{
    flex-basis:15%;
    background-color: red;
    align-items: center; 
    text-align: center;
}
.App header h1{
    color: white;
    margin-top: 30px;
    font-size: 70px;
    font-weight: 500;
    font-family: 'Dancing Script', 'cursive';
}

.App main{
    flex-basis: 70%;
    background-color: blanchedalmond;
    font-family: 'Open Sans', sans-serif;
}

.APP footer{
    flex-basis:15%;
}


@media only screen and (max-width: 489px) {
    .App header{
        flex-basis: 10%;
    }
    .App header h1{
        color: white;
        margin-top: 20px;
        font-size: 30px;
        font-weight: 400;
    }
    .App main{
        flex-basis: 80%;
        background-color: blanchedalmond;
    }
    .APP footer{
        flex-basis:10%;
    }
  }